{{>top-nav}}

<div class = "about-pg"> 
<div class = "about-desc"> 
    <h1> ABOUT COFFEE LENS</h1>
    <p>
        For students, coffee can be considered as a necessity. It helps us stay awake for morning class, it also satisfies our daily cravings. 
        With the many options for cafes inside and outside the campus, it can take several minutes just to decide on which coffee shop to go to. 
        The developers decided to work on a web application where users can give reviews and recommendations to the cafes near campus 
        and help you make the right decision.
    </p>
</div>

<div class = "about-dev"> 
    <h1> DEVELOPERS:  </h1>
    
    <li> Ang, Germaine </li>
    <li> Biacora, Marcus </li>
    <li> Dulin, Andrea </li>
    <li> Roque, Dominic </li>
</div>
</div>
